$red-clr: red;
$success-color: rgb(0 255 0);
$white-clr: #fff;
.error {
    background: $red-clr;
    padding: 10px;
    font-size: 0.875em;
    margin-top: 0.25em;
}

body {
    padding: 50px 100px;

    form#loginForm,
    form#registrationForm,
    form#accountSettingsForm {
        display: grid;
        gap: 10px;
    }

    button {
        max-width: 20%;
    }
    .error-login{
        background: $red-clr;
        padding: 10px;
        color: $white-clr;
        a {
            color: #c4c3c3;
        }
    }
    .successfull-user {
        background: $success-color;
        padding: 10px;
    }
}